.header
  %h1.me Bradley Kenyon
  %span.mobile-menu-toggle
    %span
.nav
  %ul
    %li= link_to "About", "/index.html"
    %li
      Work
      %ul
        %li= link_to "Unity (DT)", "/work/unity.html"
        %li= link_to "Infobip", "/work/infobip.html"
        %li= link_to "Pivotal", "/work/pivotal.html"
        %li= link_to "Impress", "/work/impress.html"
        %li= link_to "Then Be", "/work/then-be.html"
        %li= link_to "Misc", "/work/misc.html"
    %li= link_to "Contact", "/contact.html"